/* &display=swap */
@import "null.css";
/* ================================================================ */
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ================================================================ */

[class*="__container"] {
	/* Відключаю відцетровку */
	/* margin: 0px auto; */
	max-width: 1920px;
}
